<?xml version='1.0' encoding='utf-8'?>
<widget id="be.appfoundry.todo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>bigbangular-mobile</name>
    <description>
        n/a
    </description>
    <author email="bart@vandeweerdt.com" href="http://www.vandeweerdt.com">
        Bart Vandeweerdt
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
